#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Logs
*.log

# Project folders
modified-system-apk-files-here/
place-apk-here-for-modding/
place-apk-here-for-signing/
projects/

# Personal files
push_*.bat
other/*.tmp*